//  Mixin Flexbox
@mixin flexbox($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

// Mixin botom
@mixin button($bg-color, $text-color) {
    display: inline-block;
    padding: 10px 20px;
    background-color: $bg-color;
    color: $text-color;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    transition: background 0.3s ease;

    &:hover {
        background-color: darken($bg-color, 10%);
    }
}

// Mixin Media Queries
@mixin media($size) {
    @if $size == mobile {
        @media screen and (max-width: 768px) { @content; }
    } @else if $size == tablet {
        @media screen and (max-width: 1024px) { @content; }
    }
}

@mixin button-base {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@mixin button-theme($bg-color: #a86c3f) {
    background-color: $bg-color;
    color: white;
    
    &:hover {
        background-color: darken($bg-color, 10%);
    }
}

@mixin hover-effect($scale: 1.02) {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    &:hover {
        transform: scale($scale);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}

@mixin responsive-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
} 
